body,
html {
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    background: #ffffff77;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    transition-duration: 0.4s;
}

::-webkit-scrollbar-thumb {
    background: #a7a7a7;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #858585;
}

::-webkit-scrollbar-thumb:active {
    background: #6b6b6b;
    border-radius: 5px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar {
    width: 230px;
    border-right: 1px solid #999999;
}

.sidebar_title {
    padding-left: 16px;
}

.sidebar_title>p {
    font-size: 18px;
}

.wrapper_sidebar_link-item {
    display: flex;
    flex-direction: column;
}

.wrapper_sidebar_link-item>a {
    text-decoration: none;
}

.sidebar_link-item {
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 12px;
    padding-left: 16px;
    color: #000;
    font-weight: 600;
    transition-duration: 0.3s;
}

.sidebar_link-item:hover {
    background: #00000023;
}

.main {
    width: calc(100vw - 230px);
    overflow: auto;
}

.header {
    text-align: center;
}

.header>h1 {
    color: #002cf0;
}

.contents {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content>p {
    font-size: 36px;
    font-weight: 600;
}

.content_1 {
    background: #acc2ff;
}

.content_1>p {
    font-weight: 400;
    font-size: 36px;
}

.content_2 {
    background: #ffffff;
}

.content_2>p {
    color: #da0000;
}

.content_3 {
    background: #acc2ff;
}

.content_4 {
    background: #ffffff;
}

.flat-button {
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition-duration: 0.3s;
}

.button_1,
.button_2 {
    background: #ffffff;
}

.button_1:hover,
.button_2:hover {
    background: #ffffff87;
}

.button_3 {
    background: #acc2ff;
}

.button_3:hover {
    background: #acc2ffaa;
}

.wrapper_modal {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: #00000060;
}

.modal {
    background: #ffffff;
    border-radius: 4px;
}

.modal_contents {
    display: flex;
    flex-direction: column;
    margin: 20px;
}