.contents {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content>p {
    font-size: 36px;
    font-weight: 600;
}

.content_1 {
    background: #acc2ff;
}

.content_1>p {
    font-weight: 400;
    font-size: 36px;
}

.content_2 {
    background: #ffffff;
}

.content_2>p {
    color: #da0000;
}

.content_3 {
    background: #acc2ff;
}

.content_4 {
    background: #ffffff;
}

.button_1,
.button_2 {
    background: #ffffff;
}

.button_1:hover,
.button_2:hover {
    background: #ffffff87;
}

.button_3 {
    background: #acc2ff;
}

.button_3:hover {
    background: #acc2ffaa;
}

.wrapper_modal {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: #00000060;
}

.modal {
    background: #ffffff;
    border-radius: 4px;
}

.modal_contents {
    display: flex;
    flex-direction: column;
    margin: 20px;
}