.mods_list {
    margin: 10px;
    display: grid;
    grid-gap: 1rem;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(240px, 0fr));
}

.mods_list_item {
    border: 1px solid #999999;
}

.mods_list_item_contents {
    display: flex;
    flex-direction: column;
    padding: 12px;
    box-sizing: border-box;
    height: 100%;
    transition-duration: 0.3s;
    cursor: pointer;
}

.mods_list_item_contents:hover {
    background: #00000017;
}

.mods_list_item_contents>img {
    width: 100%;
    height: auto;
    margin-bottom: auto;
}

.mods_list_item_contents>p {
    margin: 0px;
    margin-top: 4px;
}

.mods_list_item_contents>a {
    font-size: 14px;
    color: #505050;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}